<div class="parent-container">
  <div class="header-container">
    <h3>Welcome to the group chat.</h3>
    <button (click)="leaveChat()" class="btn btn-danger">Leave Chat</button>
  </div>
  <div class="group-chat-container">
    <!-- Left side - Users list -->
    <div class="users-list">
      <h3>Connected Users</h3>
      <ul>
        <li>Dummy User</li>
        <li>Dummy User2</li>
        <li>Dummy User3</li>
      </ul>
    </div>

    <!-- Right side - Chat messages -->
    <div class="chat-container">
      <div class="chat-messages">
        <div class="message">
          <ng-container *ngFor="let message of messages">
            <div
              [ngClass]="{
                incoming_msg: message.user != loggedInUser,
                outgoing_msg: message.user == loggedInUser
              }"
            >
              <div
                *ngIf="message.user != loggedInUser"
                class="incoming-msg-img"
              >
                <img src="" alt="" />
              </div>
              <div *ngIf="message.user != loggedInUser" class="received_msg">
                <div class="received_withd_msg">
                  <p>{{ message.message }}</p>
                  <span class="time_date"
                    >{{ message.user }} |
                    {{ message.messageTime | date : "medium" }}</span
                  >
                </div>
              </div>
              <div *ngIf="message.user === loggedInUser" class="sent_msg">
                <p>{{ message.message }}</p>
                <span class="time_date"
                  >{{ message.user }} |
                  {{ message.messageTime | date : "mediun" }}></span
                >
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="chat-input">
        <input
          (keydown.enter)="sendMessage()"
          [(ngModel)]="inputMessage"
          placeholder="Type a message..."
        />
        <button (click)="sendMessage()">Send</button>
      </div>
    </div>

    <!-- Chat input field -->
  </div>
</div>
